<!--<img src="/img/Admin.png" alt="Admin page mockup image" />--!>

<a href="/user/userhome/">User Home</a>
<a href="/user/logout/">Log Out</a>
<a href="/user/about">About</a>
<a href="/user/team">Team</a>
<a href="/user/user-profile/">Profile</a>


<h1>{{title}}</h1>

<h1>Hello, {{fname}}!</h1>
<div>{{message}}</div>

<p>List of users:</p>
<table>
  <tr>
    <td>
      UID:
    </td>
    <td>
      fname:
    </td>
    <td>
      lname:
    </td>
    <td>
      email:
    </td>
    <td>
      password:
    </td>
    <td>
      distinct_url:
    </td>
    <td>
      admin:
    </td>
    <td>
      phone:
    </td>
  </tr>
  {{#each users}}
    <tr>
      <td>
        {{uid}}
      </td>
      <td>
        {{fname}}
      </td>
      <td>
        {{lname}}
      </td>
      <td>
        {{email}}
      </td>
      <td>
        {{password}}
      </td>
      <td>
        {{uurl}}
      <td>
        {{admin}}
      </td>
      <td>
        {{phone}}
      </td>
      <td>
        {{contact_info}}
      </td>
    </tr>
    {{/each}}
</table>



<br><br>

