<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/userhome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<!------------------------------------| SIDE PANEL |--------------------------------->
<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 adminsidenav">
    <h5>Here is a summary of your personal information.</h5>
    <div class="hometable">
                    <center>
                    <table>
                          <tr>
                            <td>
                              <span class = "header">name:</span>
                            </td>
                            <td>
                              <p>{{name}}</p>
                          </tr>
                          <tr>
                            <td>
                             <span class = "header">email:</span>
                            </td>
                            <td>
                              <p>{{email}}</p>
                            </td>
                          </tr>
                           <tr>
                             <td>
                               <span class = "header">phone:</span>
                             </td>
                             <td>
                               <p>{{phone}}</p>
                             </td>
                           </tr>
                            <tr>
                             <td>
                               <span class = "header">url:</span>
                             </td>
                             <td>
                               <p>{{uurl}}</p>
                             </td>
                           </tr>
                          </tr>
                          </tr>
                        </table>
                    </p>
            </center>
       </div>

    <a href="/userhome"><button type="button" class="btn btn-default">My Homepage</button></a><br><br><a href="/{{uurl}}"><button type="button" class="btn btn-default">View Profile</button></a>

    </div>


<!------------------------------------| UPPER CONTENT |------------------------------>
    <div class="col-sm-8 upper">
      <h1>Hello, {{fname}}!</h1>
      <hr>
    </div>

<!------------------------------------| LOWER CONTENT |--------------------------------->
 <div class="col-sm-8 lower">
      <center>
      <h4>Here is a summary of the customer database.</h4>
      <p>
      <div class="admintable">
      <table>
          <thead>
            <tr>
              <th>uid</th>
              <th>fname</th>
              <th>lname</th>
              <th>email</th>
              <th>password</th>
              <th>uurl</th>
              <th>phone</th>
              <th>additional info</th>
              <th>admin</th>
            </tr>
          </thead>
          <tbody>
          {{#each users}}
            <tr>
              <td>{{uid}}</td>
              <td>{{fname}}</td>
              <td>{{lname}}</td>
              <td>{{email}}</td>
              <td>{{password}}</td>
              <td>{{uurl}}</td>
              <td>{{phone}}</td>
              <td>{{contact_info}}</td>
              <td>{{admin}}</td>
            </tr>
            {{/each}}
          </tbody>
          </table>
        </div>

      </div>

      </center>
    </div>
  </div>
</div>

</body>
</html>
