<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/userhome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      {{#if isLoggedIn}}
            {{#if isAdmin}}
                 <li class = "active"><a href="/user/admin">Admin Home</a></li>
                 <li><a href="/user/userhome">Personal Home</a></li>
            {{else}}
                 <li><a href="/user/userhome/">Home</a></li>
            {{/if}}

     {{else}}
     <li><a href="/">Home</a></li>
     {{/if}}
     <li><a href="/user/about/">About</a></li>
     <li><a href="/user/team">Team</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isLoggedIn}}
        <li><a href="/user/user-profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">
    <h5>Here is a summary of your personal information.</h5>
                    <center>
                    <table>
                          <tr>
                            <td>
                              <span style="color:#33CC99">N A M E :</span>
                            </td>
                            <td>
                              {{name}} </span>
                          </tr>
                          <tr>
                            <td>
                             <span style="color:#33CC99"> E M A I L :</span>
                            </td>
                            <td>
                              {{email}}
                            </td>
                          </tr>
                           <tr>
                             <td>
                               <span style="color:#33CC99">P H O N E :</span>
                             </td>
                             <td>
                               {{phone}}
                             </td>
                           </tr>
                            <tr>
                             <td>
                               <span style="color:#33CC99">U R L :</span>
                             </td>
                             <td>
                               {{uurl}}
                             </td>
                           </tr>
                          </tr>
                          </tr>
                        </table>
                    </p>
            </center>

    <a href="/user/user-profile"> <button type="button" class="btn btn-default btn-lg">View Profile</button></button></a>
    </div>
    <div class="col-sm-8 upper">
      <h1>Hello, {{fname}}!</h1>

<hr>
</div>
      <div class="col-sm-8 lower">
      <center>
                  <h5>Here is a summary of the customer database.</h5>
                  <p>
                 <table>
                   <tr>
                   <rh>
                     <td>
                       UID:
                     </td>
                     <td>
                       fname:
                     </td>
                     <td>
                       lname:
                     </td>
                     <td>
                       email:
                     </td>
                     <td>
                       password:
                     </td>
                     <td>
                       distinct_url:
                     </td>
                     <td>
                       admin:
                     </td>
                     <td>
                       phone:
                     </th>
                     </span>
                   </tr>
                   {{#each users}}
                     <tr>
                       <td>
                         {{uid}}
                       </td>
                       <td>
                         {{fname}}
                       </td>
                       <td>
                         {{lname}}
                       </td>
                       <td>
                         {{email}}
                       </td>
                       <td>
                         {{password}}
                       </td>
                       <td>
                         {{uurl}}
                       <td>
                         {{admin}}
                       </td>
                       <td>
                         {{phone}}
                       </td>
                     </tr>
                     {{/each}}
                 </table>


                  </p>
          </center>

    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright &copy 2015 by Falcons</p>
</footer>

</body>
</html>