<!--<img src="/img/Admin.png" alt="Admin page mockup image" />--!>


<h1>{{title}}</h1>

<h1>Hello, {{fname}}!</h1>

<p>List of users:</p>
<div>{{message}}</div>
<table>
  <tr>
    <td>
      UID:
    </td>
    <td>
      fname:
    </td>
    <td>
      lname:
    </td>
    <td>
      email:
    </td>
    <td>
      password:
    </td>
    <td>
      distinct_url:
    </td>
    <td>
      admin:
    </td>
    <td>
      phone:
    </td>
  </tr>
  {{users}}
    <tr>
      <td>
        {{uid}}
      </td>
      <td>
        {{fname}}
      </td>
      <td>
        {{lname}}
      </td>
      <td>
        {{email}}
      </td>
      <td>
        {{pass}}
      </td>
      <td>
        {{distinct_url}}
      <td>
        {{admin}}
      </td>
      <td>
        {{phone}}
      </td>
    </tr>
</table>



<br><br>

