<!--<img src="/img/UserHome.png" alt="User homepage" />--!>


        <a href="/user/about/">About</a>
 		<a href="/user/team/">Team</a>
 		<a href="/user/user-profile/">Profile</a>
 		{{#if isAdmin}}
 		<a href="/user/admin/">Admin Home</a>
        {{/if}}
        <a href="/user/logout/">Log Out</a>

<h1>{{title}}</h1>

<h1>Hello, {{fname}}!</h1>
<div>{{message}}</div>

<p>Your info:</p>
<table>
  <tr>
    <td>
      Unique User URL
    </td>
    <td>
      Name
    </td>
    <td>
      Email
    </td>
  </tr>
  {{user}}
    <tr>
      <td>
        {{uurl}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{email}}
      </td>
    </tr>
</table>
<br>
<form method="post" action="/user/update">
  Phone: <input type="text" name="Phone" value={{phone}}> <br>
  Other Info:  <input type="text" name="info" value={{info}}> <br>
  <button>Update contact information</button>
</form>


<br><br>

