<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
              type="text/css"
              href="/stylesheets/main.css">
  <link rel="stylesheet"
          type="text/css"
          href="/stylesheets/user-profile.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>



<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-12 toppane">
      <div class = "banner">
        <h1>Thanks for visiting <br>my
        <span style="color:#33CC99"><span style="letter-spacing:0px">found</span></span><span style="color:black"><span style="letter-spacing:0px">it</span></span> page!</h1>

      <div class = "button">
                <center>
                <a href="/about"> <button type="button" class="btn about btn-default btn-lg">What is foundit?</button></button></a>
                </center>
                </div>


      </div>
    </div>
    </div>

<!=-------------------------------| LOWER |--------------------------------------->
    <div class = "lowpane">
     <h1>Contact&nbsp;<span style="color:#33CC99">Me</span></h1>
     <h4>please use the information below to contact me about my item</h4>
     <br>

                 <div class="table">
                                 <center>
                                 <table>
                                       <tr>
                                         <td>
                                           <span class = "header">name:</span>
                                         </td>
                                         <td>
                                           <p>{{name}}</p>
                                       </tr>
                                       <tr>
                                         <td>
                                          <span class = "header">email:</span>
                                         </td>
                                         <td>
                                           <p>{{email}}</p>
                                         </td>
                                       </tr>
                                        <tr>
                                          <td>
                                            <span class = "header">phone:</span>
                                          </td>
                                          <td>
                                            <p>{{phone}}</p>
                                          </td>
                                        </tr>
                                       </tr>
                                       </tr>
                                     </table>
                                 </p>
                         </center>
                    </div>


       </div>

    <br><br>


    <div class="form-group col-sm-4 col-sm-offset-4">
      <label for="comment"><h5>or enter your own customized message:</h5></label>
      <input type="text" class="form-control" rows="5" id="comment" value="{{contact_info}}"></textarea>
    </div>




</div>



</body>
</html>