<!--<img src="/img/UserHome.png" alt="User homepage" />--!>


        <a href="/about/">About</a>
 		<a href="/team/">Team</a>
 		<a href="/a-user-id/">Profile</a>
 		{{#if isAdmin}}
 		<a href="/admin/">Admin Home</a>
        {{/if}}
        <a href="/splash/">Log Out</a>

<h1>{{title}}</h1>

<h1>Hello, {{user}}!</h1>


<p>Your info:</p>
<div>{{message}}</div>
<table>
  <tr>
    <td>
      User ID
    </td>
    <td>
      Name
    </td>
    <td>
      Password
    </td>
    <td>
      Admin
    </td>
  </tr>
  {{user}}
    <tr>
      <td>
        {{uid}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{pass}}
      </td>
      <td>
        {{admin}}
      </td>
    </tr>
</table>


<br><br>

