<!--<img src="/img/UserHome.png" alt="User homepage" />--!>


        <a href="/user/about/">About</a>
 		<a href="/user/team/">Team</a>
 		<a href="/user/a-user-id/">Profile</a>
 		{{#if isAdmin}}
 		<a href="/user/admin/">Admin Home</a>
        {{/if}}
        <a href="/user/splash/">Log Out</a>

<h1>{{title}}</h1>

<h1>Hello, {{fname}}!</h1>
<div>{{message}}</div>

<p>Your info:</p>
<table>
  <tr>
    <td>
      Unique User URL
    </td>
    <td>
      Name
    </td>
    <td>
      Email
    </td>
  </tr>
  {{user}}
    <tr>
      <td>
        {{uurl}}
      </td>
      <td>
        {{name}}
      </td>
      <td>
        {{email}}
      </td>
    </tr>
</table>


<br><br>

